body {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; 
    font-size: 30px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
}

.banner {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 300px;
}

.navigation {
    position: absolute;
    top: 0px; /* Position it vertically centered */
    right: 100px; 
    font-size: 30px;
    list-style-type: none;
    margin: 0%; /* Remove default margin */
    padding: 0%; /* Remove default padding */
}

.navigation ul {
    list-style-type: "";
    margin: 1%; /* Remove default margin */
    padding: 0%; /* Remove default padding */
}

.navigation li {
    text-align: right;
    margin: 0%; /* Remove default margin */
    padding: 0%; /* Remove default padding */
}

.button {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    transition: text-decoration 0.3s ease; 
}

.button:hover {
    text-decoration: underline;
    right: 100px; 
}

.icon{
    fill: rgb(255, 0, 0); /* Change the fill color */
    width: 20px;
    height: 20px;
}

.icon:hover {
    fill: rgb(12, 137, 168); /* Change the fill color */
    width: 22px;
    height: 22px;
}

.socials a {
    text-align: right;
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #52BAD5;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
.gallery .thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 20px;
}

.thumbnail {
	width: 23%;
	text-align: center;
	float: left;
	margin-top: 200px;
	background-color: #F8F8F8;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 20px;
	border-bottom: 4px solid #6DC7D0;
}

.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
	opacity: 0.8;
}

.centered_container {
    text-align: center;
    margin: 0 auto;
    max-width: 800px; /* Adjust this value according to your layout */
    margin-top: 200px; /* Adjust the spacing if needed */
}

.aboutme {
    margin-top: 200px; /* Adjust the spacing if needed */
}

.profielfoto{
    max-width: 800px;
}

h1 { font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 40px; } 
h2 { font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 30px; } 
h3 { font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.aboutmeparagraph{
    text-align: justify;
    text-align-last: left;
}